[submodule "backend"]
	path = backend
	url = https://github.com/fanxl12/my-third-project-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/fanxl12/my-third-project-frontend.git
